@import url("pygment.css");
/*
 *  CSS for pelican theme, http://getpelican.com
    Theme Name: bnjmnmlist
    This theme is uncopyrighted, free, and offered as is.
*/

body {
  background: #FFFFFF;
  font-family: Times, serif;
  font-size: 18px;
  margin: 30px 20px;
}
.container {
  max-width: 812px;
  margin: 2px auto;
}

/* All Headings without serif */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
}
header h1 {
  margin: 0;
}
header a, 
abbr {
  border-bottom: none;
}

#site-title {
  font-weight: normal;
  vertical-align: top;
}

time {
  color: #00CC00;
  font-size: 85%;
  font-family: Helvetica, sans-serif;
}

blockquote {
  font-size: 110%;
  font-family: Helvetica, sans-serif;
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}

a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}
a:hover {
  color: #999;
}

/* Tables of Articles */
#article-table {
  margin: 20px 0;
}
#article-table td {
  vertical-align: top;
}
#article-table h2 {
// Squash 
  padding: 0px;
  margin: 0px;
}
.td-article-date {
  white-space: nowrap;
}

/*

tt, pre {
  background-color: #fafafa;
  font-family: Inconsolata, Monaco, monospace;
  line-height: 1.2em;
}
*/

pre {
  background-color: #E9FFBF;
  font-size: 0.8em;
  font-family: Inconsolata, Monaco, monospace;
  overflow: auto;
  padding: 10px;
}

/* tt.literal is output by ``rst`` */
tt.literal,
code {
  font-size: 0.75em;
  padding: 2px 5px;
  background-color: #F1FFD6;
  font-family: Inconsolata, Monaco, monospace;
}

/* Footer & Paginator */
nav {
  text-align: center;
  margin: 20px 0px;
}

footer, .paginator {
  background: #fff;
  color: #666;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  margin-left: 20px;
}
footer a, .paginator a {
  border-bottom: none;
  color: #C0C0C0;
}
footer li, .paginator li {
  display: inline;
}
footer .active, .paginator .active {
  background-color: #eee;
}
footer .nowrap, .paginator .nowrap {
  white-space: nowrap;
}

#license {
  text-align: center;
}

.paginator {
  text-align: center;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C1C1C1;
}
