{% extends "index.html" %}

{% block content_title %}
  : <a id="page-title" href="{{ PAGEURL }}/" rel="bookmark"> archive 
    {# TODO: Fix this in version 3.3, make it smarter #}
    {{ output_file|replace('/index.html', '')|replace('archives.html', '') }}
  </a>
{% endblock content_title %}


{% block content %}
<table id="article-table">
{% for article in dates %}
  <tr>
    <td class="td-article-date nowrap">
      <time>{{ article.date|strftime('%d %b %Y') }}</time>
    </td>
    <td class="td-article-title">
      <h2>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          {{ article.title }}
        </a> 
      </h2>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
