{% extends "base.html" %}
{% block head %}
  {{ super() }}

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content_title %}
    : <a class="article-title" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
      title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
{% endblock content_title %}

{% block subheader -%}
  <div id="article-date">
    {%- import 'translations.html' as translations with context -%}
    {{ translations.translations_for(article) }}
      <time>{{ article.locale_date }}</time>
  </div>
{% endblock subheader %}

{% block content %}
  <div class="article-content">
    <article>
    {{ article.content }}
    </article>
  </div>
{% endblock %}
