{% extends "base.html" %}

{% block title %}{{ SITENAME }} : Authors{% endblock %}
{% block content_title %} : <a id="page-title" href="{{ SITEURL }}/author/" rel="bookmark" title="Permalink to posts by {{ author }}"> by {{ author }}</a>{% endblock %}

{% block content %}
    <h1>Authors on {{ SITENAME }}</h1>
    {%- for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
{% endblock %}
