<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head -%}
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

    {# FEEDS, if you got 'em #}
    {%- if FEED_ALL_ATOM -%}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {%- endif -%}
    {%- if FEED_ALL_RSS -%}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {%- endif -%}
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  {% endblock head %}
</head>

<body>
{% block header %}
  <header>
  <div class="container">
    <div id="title">
      <h1>
        <a id="site-title" href="{{ SITEURL }}">{{ SITENAME }}</a>
        {% block content_title %}
          {% for title, link in MAINLINKS %} 
          : <a href="{{ link }}">{{ title }}</a>
          {% endfor %}
        {% endblock %}
      </h1>
    </div>

    {% block subheader %}{% endblock %}

  </div> <!-- close container -->
  </header>
{% endblock header %}

<div class="container">
  {% block content %}{% endblock %}
</div>
        
<footer>
  {% block footer %}
    <div class="container">
      <nav>
      <span{% if page_name == 'index' %} class="active"{% endif %}><a href="{{ SITEURL }}">{{ SITENAME }}</a></span>
      {% for p in PAGES %}
        | <span{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></span>
      {% endfor %}
      <span><a href="{{ ARCHIVES_URL }}">archives</a></span>
      </nav>

      {% if COPYRIGHT %} 
        <div id="license" > 
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
            <img alt="Creative Commons License" style="border-width:0" 
                 src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
          </a>
          <br />This work is licensed under a 
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
            Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
          </a>
          <span id="copyright" class="nowrap">&copy; Copyright {{ COPYRIGHT_YEAR }} By {{ COPYRIGHT_HOLDER }}</span>
        </div> 
      {% endif %}
    </div> <!-- close container -->
  {% endblock footer %}
</footer>

{% include 'analytics.html' %}

</body>
</html>
