{% extends "base.html" %}
{% block content %}
<section id="content">

<table id="article-table">
{% for article in articles_page.object_list %}
<tr>
  <td class="td-article-date"><time>{{ article.date|strftime('%d %b %Y') }}</time></td>
  <td class="td-article-title">
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to '{{ article.title|striptags }}':
      {{ article.summary|striptags }}">
      {{ article.title }}</a></h2>
  </td>
</tr>
{% endfor %}
</table>

{% include 'pagination.html' %}
</section>
{% endblock content %}
